$break-point-sm: 320px;
$break-point-md: 640px;
$break-point-lg: 960px;
$text-color:#1D1D1D;
h1 {
  font-size: 20px;
  @media only screen and (max-width: $break-point-sm) {
    font-size: 14px;
  }
  @media only screen and (max-width: $break-point-md) {
    font-size: 16px;
  }
  @media only screen and (max-width: $break-point-lg) {
    font-size: 18px;
  }
}
h1.small {
    @media only screen and (max-width: 320px) {
      color: $text-color;
    }
}
